@import "bootstrap/css/bootstrap.css";

.cantora-one-regular {
  font-family: "Cantora One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-container
{
    padding: 24px;
    background-color: floralwhite;
}

.main-card-display
{
    display: flex;
    border:  1px solid gray;
    border-radius: 12px;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.invader-card-display
{
    height: 100%;
    text-align: center;
}

.game-card
{
    border-radius: 12px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game-card-side
{
    border-radius: 12px;
    width: 80%;
}

.game-card-invader
{
    width: 100%;
}

.btn
{
    margin-top: 12px;
    z-index: 9999;
    font-family: 'Cantora One';
    text-transform: uppercase;
}

#btn-next-phase
{
    /*background-image: url('/assets/fear/back.jpg') !important*/
}


.fear-panel-top
{
    color: white;
    background-image: url('/assets/fear/back.jpg');
    background-position: center;
    background-size: 120%;
    text-align: right;
    font-family: 'Cantora One';
}

.fear-panel-top-title
{
    font-size: 5em;
}

.fear-panel.bottom
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left-bar,
.right-bar
{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 24px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.main-area,
.invader-area
{
    padding: 12px;
}

.main-area,
.phase-list-container
{
    height: 60vh;
}

.invader-area
{
    height: 30vh;
}

.phase-list
{
    width: 100%;
    height: 75%;
}

#phase-list-ravage-badge,
#phase-list-build-badge,
#phase-list-explore-badge
{
    display: inline;
    position: relative;
    top: -1px;
}

.badge
{
    display: inline;
}

.list-group-item
{
    padding: 12px 12px 12px 12px;

}

.phase-list-title
{
    font-size: 1em;
    font-family: 'Cantora One';
    text-transform: uppercase;
}

.invader-card-label
{
    font-family: 'Cantora One';
    font-size: 1.5em;
    text-transform: uppercase;
}

.hidden
{
    display: none;
}

.container-glassmorphism
 {
  backdrop-filter: blur(10px);
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  
-webkit-backdrop-filter
: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}