.cantora-one-regular {
  font-family: "Cantora One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.background-blur
{
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/board/board.jpg');
  background-size: cover;
  filter: blur(8px);
  z-index: -1;

}

.container-fluid
{
    padding: 24px;
}


.main-card-display
{
    display: flex;
    border:  1px solid gray;
    border-radius: 12px;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.invader-area
{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px 0px 0px;
    padding: 12px;
}

.invader-card-area
{
    height: 100%;
    flex: auto;
    text-align: center;
}

.invader-card-container
{
    padding: 6px;
    height: 80%;
    border: dashed rosybrown 3px;
    border-radius: 12px;
}

.invader-card-label
{
    margin-top: 12px;
}

.invader-card-arrow
{
    color: rosybrown;
    display: flex;
    align-items: center;
    font-family: 'Cantora One';
    font-size: 5em;
    transform: translate(10%, -10%);
}

.game-card
{
    border-radius: 12px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game-card-side
{
    border-radius: 12px;
    width: 80%;
}

.game-card-invader
{
    height: 100%;
    width: 100%;
}

.btn
{
    margin-top: 6px;
    margin-bottom: 6px;
    z-index: 9999;
    font-family: 'Cantora One';
    text-transform: uppercase;
}

#btn-next-phase
{
    /*background-image: url('/assets/fear/back.jpg') !important*/
}

.fear-panel-top-title
{
    font-size: 5em;
}

.fear-panel-bottom
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left-bar,
.right-bar
{
    border: 1px solid gray;
    border-radius: 12px;
    padding: 24px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    font-family: 'Cantora One';
}

.left-bar
{
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('./assets/fear/back.jpg');
    background-size: 150%;
    background-position-x: 40%;
    background-position-y: 20%;
    text-align: right;
}

.right-bar{
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('./assets/event/back.jpg');
    background-size: 180%;
    background-position-x: 40%;
    background-position-y: 80%;
}

#adversary-corner
{
    width: 100%;
}

.adversary-display
{
    width: 90%
}

.main-area,
.phase-list-container
{
    height: 55vh;
}

.phase-list
{
    width: 100%;
    height: 75%;
}

#phase-list-ravage-badge,
#phase-list-build-badge,
#phase-list-explore-badge
{
    display: inline;
    position: relative;
    top: -1px;
}

.badge
{
    display: inline;
}

.fear-badge
{
    background-color: #3b3b3b;
}

.list-group-item
{
    padding: 12px 12px 12px 12px;

}

.phase-list-title
{
    font-size: 1em;
    font-family: 'Cantora One';
    text-transform: uppercase;
}

.invader-card-label
{
    font-family: 'Cantora One';
    font-size: 1.5em;
    text-transform: uppercase;
}

.hidden
{
    display: none;
}

.container-glassmorphism
 {
  backdrop-filter: blur(6px);
  background: rgba( 10, 10, 10, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  
-webkit-backdrop-filter
: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#setup-modal .col-md-6 {
    display: flex;
    align-items: center;
}

/* Adversary Preview Styles */
.adversary-preview-container {
    position: relative;
    y: 50%;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.adversary-preview-image {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.preview-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
}

.form-check {
    margin-right: 36px;
}


