@import "bootstrap/css/bootstrap.css";

.main-container
{
    padding: 24px;
}

.main-card-display
{
    display: flex;
    border:  1px solid gray;
    border-radius: 12px;
    height: 100%;
    justify-content: center; 
    align-items: center;
}

.invader-card-display
{
    height: 100%;
    text-align: center;
}

.game-card
{
    border-radius: 12px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game-card-side
{
    border-radius: 12px;
    width: 80%;
}

.game-card-invader
{
    width: 100%;
}

.btn
{
    margin-top: 12px;
    z-index: 99;
}

#btn-next-phase
{
    background-image: url('/static/assets/fear/back.jpg') !important
}

.fear-panel
{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left-bar,
.right-bar
{
    border: 1px solid gray;
    border-radius: 24px;
    padding: 24px;
}

.main-area,
.invader-area
{
    padding: 12px;
}

.main-area,
.phase-list-container
{
    height: 60vh;
}

.invader-area
{
    height: 30vh;
}

.phase-list
{
    width: 100%;
    height: 75%;
}

#phase-list-ravage-badge,
#phase-list-build-badge,
#phase-list-explore-badge
{
    display: inline;

}

.badge
{
    display: inline;
}

.list-group-item
{
    padding: 12px 12px 12px 12px;

}

h3.phase-list-title
{
    font-weight: bold;
    font-size: 1em;
}

.invader-card-label
{
    font-weight: bold;
    font-size: 2em;
}

.hidden
{
    display: none;
}